<div>
    <div class="media row">
        <div class="media-left col-xs-3">
            <a href="#">                
                <img class="media-object img-responsive" src="{{album.images[1].url | cover}}" alt="Album Cover">
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading">{{album.name}}</h2>
            <h3>Artist</h3>
            <a href="#/artist/{{album.artists[0].id}}">
                {{album.artists | artists}}
            </a>
            <h3>Release Date</h3>
            <p>{{album.release_date}}</p>
            <hr />
            <button ng-click="PlayAll()" class="btn btn-primary">Play All</button>
        </div>
    </div>            
        
    <!-- Tracks -->
    <div ui-view="tracklist"></div>
    <!-- Comment -->
    <div ui-view="comment"></div>
</div>