<div ng-controller="AlbumCtrl">
    <img src="{{album.images[1].url | cover}}" alt="Album Cover">
    <p>{{album.name}}</p>
    Artist
    <p ng-repeat="artist in album.artists">
        {{artist.name}}
    </p>
    Release Date
    <p>{{album.release_date}}</p>
    <p>Play All</p>
    Tracks
    <p ng-repeat="track in album.tracks.items">
        {{track.name}}
        <div class="div-inline" ng-repeat="artist in track.artists">
            <span>
                {{artist.name}}
                <span ng-if="!($last)">&amp;</span>
            </span>
        </div>
        {{album.name}}
    </p>
    Comments
    <p>Comments Here</p>
    <textarea></textarea>
</div>