<div>    
    <div>
        <!-- ng-if will create a child scope, 
             and models of child scope are inaccessible from parent -->
        <form ng-show="currentUser" ng-submit="postComment(content)">
            <textarea class="form-control" rows="3" ng-model="content" class="form-control"></textarea>
            <button type="submit" class="btn btn-success">Post Comment</button>
        </form>
        <textarea class="form-control" rows="3" disabled ng-show="!currentUser"></textarea>
        <p ng-show="!currentUser">
            please
            <a class="hidden-xs" ng-click="setLoginFocus()" href="">sign in</a>
            <a class="visible-xs-inline" id="commentSignInNote" ng-click="setLoginFocus()" href="">sign in</a>
            to comment
        </p>
    </div>
    <p>Comments: </p>
    <p ng-show="!comments.length">Be the first to post a comment!</p>
    <!-- true in orderBy sets reverse order -->
    <div class="div-comment" ng-show="comments.length" ng-repeat="comment in comments | orderBy: 'time': true">
        User:<a href="#/profile/{{comment.uid}}">{{comment.username}}</a> On {{comment.time | datetime}}:<br />
        {{comment.content}}
    </div>
</div>