/* Common */
.div-inline {
    display: inline;
}

.table-layout-fixed {
    table-layout: fixed;
}

.fixed-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.fixed-golden-ratio {
    position: fixed;
    top: 38.2%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
    background-color: #373737;
    width: 9px;
    border-radius: 10px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);
}

::-webkit-scrollbar-track {
    background-color: #373737;
    border-radius: 10px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);
}

::-webkit-scrollbar-thumb {
    background-color: #676769;
    border-radius: 10px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);
}

::-webkit-scrollbar-track:hover {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
    background-color: rgba(0,0,0,0.01);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
    background-color: #919191;
    border-radius: 10px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);
}

::-webkit-scrollbar-corner {
    background-color: #373737;
    border-radius: 10px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);
}

/* Index */

@-webkit-keyframes webkit-shake {
    0% {
        -webkit-transform: translateX(0);
    }

    12.5% {
        -webkit-transform: translateX(-6px) rotateY(-7deg);
    }

    37.5% {
        -webkit-transform: translateX(5px) rotateY(5deg);
    }

    62.5% {
        -webkit-transform: translateX(-3px) rotateY(-3deg);
    }

    87.5% {
        -webkit-transform: translateX(2px) rotateY(1deg);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    12.5% {
        transform: translateX(-6px) rotateY(-7deg);
    }

    37.5% {
        transform: translateX(5px) rotateY(5deg);
    }

    62.5% {
        transform: translateX(-3px) rotateY(-3deg);
    }

    87.5% {
        transform: translateX(2px) rotateY(1deg);
    }

    100% {
        transform: translateX(0);
    }
}

.shake {
    /* animation: name duration timing-function delay 
                  iteration-count direction fill-mode 
                  play-state */
    -webkit-animation: webkit-shake 400ms ease-in-out;
    -webkit-animation-iteration-count: 2;
    animation: shake 400ms ease-in-out;
    animation-iteration-count: 2;
}

body {
    padding-bottom: 70px;
    padding-top: 70px;
}

.mylist-added-msg {
    color: #ffffff;
    background-color: #252525;
    width: 152px;
    height: 49px;
    text-align: center;
    line-height: 49px;
}

.navbar-player {
    height: 50px;
    min-height: 50px;
}

.player-row {
    height: inherit;
}

.playerWrap {
    position: relative;
    height: inherit;
}

    .playerWrap .btn-Prev {
        position: absolute;
        top: 50%;
        /* This won't work as margin percentages 
       are always calculated against width */
        /*margin-top: -25%;*/
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        left: 20px;
    }

    .playerWrap .btn-Play {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        left: 65px;
    }

    .playerWrap .btn-Next {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        left: 110px;
    }

    .playerWrap .bar-progress {
        position: absolute;
        left: 150px;
        right: 80px;
        top: 50%;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
    }

    .playerWrap .btn-volume {
        position: absolute;
        right: 60px;
        top: 50%;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
    }

    .playerWrap .playlist {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
    }

        .playerWrap .playlist button {
            background-color: rgba(0,0,0,0.4);
            padding-top: 0;
            padding-bottom: 0;
            border-radius: 44%;
        }

        .playerWrap .playlist .dropdown-menu {
            position: absolute;
            bottom: 30px;
        }

        .playerWrap .playlist .dropdown-menu a {
            position: relative;
        }

            .playerWrap .playlist .dropdown-menu a span {
                position: absolute;
                right: 20px;
                top: 5px;
            }

    .playerWrap .playlist-added-msg {
        background: url(http://s2.music.126.net/style/web2/img/frame/playbar.png) no-repeat 0 9999px;
        background-position: 0 -287px;
        width: 152px;
        height: 49px;
        text-align: center;
        line-height: 37px;
        color: #ffffff;
        position: absolute;
        right: -20px;
        top: -50px;
    }

#volumeSlider {
    position: absolute;
    right: 60px;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 100px;
    top: -100px;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    background-color: rgba(0, 0, 0, 0.25);
}

.btn-PlayerCtrl span {
    border-radius: 100%;
    box-shadow: 0 0 0 2px rgba(210, 210, 210, 0.85), 0 0 5px 5px rgba(210, 210, 210, 0.07), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    color: #b2b2b2;
    padding: 4px;
}

.btn-PlayerCtrlLg span {
    border-radius: 100%;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.85), 0 0 5px 7px rgba(255, 255, 255, 0.07), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    padding: 4px;
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
}

.btn-volume span {
    color: #b2b2b2;
}

/* Search */

.searchBoxWrap {
    height: 34px;
    position: relative;
    z-index: 3;
}

.searchSuggestion {
    position: absolute;
    background: white;
    display: block;
    width: 61.8%;
    height: 50vh;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-y: scroll;
}

/* Result */
.result-overflow-hidden {
    display: block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.thumbnail .resultMG {
    width: 252px;
    height: 252px;
}

.div-comment{
    border-top: 1px solid #ccc;
    padding-top: 15px;
    padding-bottom: 15px;
}