/* Common */
.div-inline {
    display: inline;
}

.table-layout-fixed {
    table-layout: fixed;
}

/* Index */

@-webkit-keyframes webkit-shake {
    0% {
        -webkit-transform: translateX(0);
    }

    12.5% {
        -webkit-transform: translateX(-6px) rotateY(-7deg);
    }

    37.5% {
        -webkit-transform: translateX(5px) rotateY(5deg);
    }

    62.5% {
        -webkit-transform: translateX(-3px) rotateY(-3deg);
    }

    87.5% {
        -webkit-transform: translateX(2px) rotateY(1deg);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    12.5% {
        transform: translateX(-6px) rotateY(-7deg);
    }

    37.5% {
        transform: translateX(5px) rotateY(5deg);
    }

    62.5% {
        transform: translateX(-3px) rotateY(-3deg);
    }

    87.5% {
        transform: translateX(2px) rotateY(1deg);
    }

    100% {
        transform: translateX(0);
    }
}

.shake {
    /* animation: name duration timing-function delay 
                  iteration-count direction fill-mode 
                  play-state */
    -webkit-animation: webkit-shake 400ms ease-in-out;
    -webkit-animation-iteration-count: 2;
    animation: shake 400ms ease-in-out;
    animation-iteration-count: 2;
}

body {
    padding-bottom: 70px;
    padding-top: 70px;
}

.navbar-player {
    height: 45px;
    min-height: 45px;
}

.player-row {
    height: inherit;
}

.playerWrap {
    position: relative;
    height: inherit;
}

    .playerWrap .btn-Prev {
        position: absolute;
        top: 50%;
        /* This won't work as margin percentages 
       are always calculated against width */
        /*margin-top: -25%;*/
        transform: translate(0, -50%);
        left: 25px;
    }

    .playerWrap .btn-Play {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 60px;
    }

    .playerWrap .btn-Next {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 95px;
    }

    .playerWrap .bar-progress {
        position: absolute;
        left: 130px;
        right: 80px;
        top: 50%;
        transform: translate(0, -50%);
    }

    .playerWrap .btn-volume {
        position: absolute;
        right: 60px;
        top: 50%;
        transform: translate(0, -50%);
    }

    .playerWrap .playlist {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translate(0, -50%);
    }

    .playerWrap .dropdown-menu a {
        position: relative;
    }

        .playerWrap .dropdown-menu a span {
            position: absolute;
            right: 20px;
            top: 5px;
        }

    .playerWrap .playlist-added-msg {
        background: url(http://s2.music.126.net/style/web2/img/frame/playbar.png) no-repeat 0 9999px;
        background-position: 0 -287px;
        width: 152px;
        height: 49px;
        text-align: center;
        line-height: 37px;
        color: #ffffff;
        position: absolute;
        right: -20px;
        top: -50px;
    }

#volumeSlider {
    position: absolute;
    right: 60px;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 100px;
    top: -100px;
    transform: translate(-50%, 0);
}

/* Search */

.searchBoxWrap {
    height: 34px;
    position: relative;
    z-index: 3;
}

.searchSuggestion {
    position: absolute;
    background: white;
}

/* Result */
.result-overflow-hidden {
    display: block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.thumbnail .resultMG{
    width: 252px;
    height: 252px;
}
