<div>
    User Profile {{user.username}}
    <p>Following:</p>
    <div class="following">
        <div class="dropdown">
            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                {{followingUsers.length}}
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li ng-repeat="user in followingUsers" role="presentation">
                    <a role="menuitem" tabindex="-1" href="#/profile/{{user.uid}}">{{user.username}}</a>
                </li>
            </ul>
        </div>
    </div>
    <p>Follower:</p>
    <div class="followed">
        <div class="dropdown">
            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
                {{followers.length}}
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                <li ng-repeat="user in followers" role="presentation">
                    <a role="menuitem" tabindex="-1" href="#/profile/{{user.uid}}">{{user.username}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div ng-if="!myProfile && !(loggedin && (currentUser.uid == user.uid))">
        <button ng-click="follow()" ng-show="loggedin && !following" class="btn btn-success">Follow</button>
        <div ng-mouseenter="showUnfoBtn = true" ng-mouseleave="showUnfoBtn = false" ng-show="loggedin && following">
            <button ng-show="!showUnfoBtn" class="btn btn-primary">Following</button>
            <button ng-show="showUnfoBtn" ng-click="unfollow()" class="btn btn-danger">Unfollow</button>
        </div>
    </div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li ng-click="activeTag='mylist'" role="presentation" class="active"><a href="" aria-controls="mylist" role="tab" data-toggle="tab">Mylist</a></li>
        <li ng-click="activeTag='comment'" role="presentation"><a href="" aria-controls="comments" role="tab" data-toggle="tab">Comments</a></li>
    </ul>
    <!-- Tab content -->
    <div>
        <!-- Mylist -->        
        <div ng-show="activeTag=='mylist'">
            <button ng-click="MylistPlayAll()" class="btn btn-primary">Play All</button>
            <div ui-view="tracklist"></div>
        </div>
        <!-- Comment -->
        <div ng-show="activeTag=='comment'">
            <div class="div-comment" ng-repeat="comment in comments | orderBy: 'time': true">
                To <a href="#/{{comment.type}}/{{comment.id}}">{{comment.name}}</a> On {{comment.time | datetime}}:<br />
                {{comment.content}}
            </div>
        </div>
    </div>
</div>