<div>
    <img src="{{song.album.images[1].url | cover}}" alt="Album Cover">
    <p>{{song.name}}</p>
    Artist 
    <p ng-repeat="artist in song.artists">
        {{artist.name}}
    </p>
    Album
    <p>{{song.album.name}}</p>
    <button class="btn btn-success">Add to Playlist</button>
    <br />
    <div>
        <p>Comment</p>
        <div>
            <form ng-if="currentUser" ng-submit="postComment(content)">
                <textarea ng-model="content" class="form-control"></textarea>
                <button type="submit" class="btn btn-success">Post Comment</button>
            </form>            
            <textarea disabled ng-if="!currentUser"></textarea>
            <p ng-if="!currentUser">please sign in to comment</p>
        </div>
        <p>Comments Here</p>
    </div>
</div>