<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MusicApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Icon -->
    <link rel="shortcut icon" href="http://uxrepo.com/static/icon-sets/modernpics/png32/512/000000/bullhorn-512-000000.png" />
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script>
    <script src="app.js"></script>
    <script src="service/api.js"></script>
    <script src="service/user.js"></script>
    <script src="service/player.js"></script>
    <script src="service/playlist.js"></script>
    <script src="service/mylist.js"></script>
    <script src="controller/home.js"></script>
    <script src="controller/player.js"></script>
    <script src="controller/login.js"></script>
    <script src="partial/search/search.js"></script>
    <script src="partial/song/song.js"></script>
    <script src="partial/result/result.js"></script>
    <script src="partial/album/album.js"></script>
    <script src="partial/artist/artist.js"></script>
    <script src="partial/register/register.js"></script>
    <script src="partial/profile/profile.js"></script>
    <script src="partial/comment/comment.js"></script>
    <script src="partial/tracklist/tracklist.js"></script>
    <script src="filter/cover.js"></script>
    <script src="filter/artists.js"></script>
    <script src="filter/datetime.js"></script>
    <script src="directive/focusOn.js"></script>
    <link rel="stylesheet" href="css/app.css" />
</head>
<body ng-app="MusicApp" ng-controller="HomeCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="LoginCtrl">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-navbar-collapse" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">MusicApp</a>
            </div>

            <div class="collapse navbar-collapse" id="my-navbar-collapse">                
                <ul ng-if="!loggedin" class="nav navbar-nav navbar-right">
                    <li><a href="#/register">Register</a></li>
                </ul>
                <!-- Log In -->
                <form ng-show="!loggedin" ng-submit="login(user)" class="navbar-form navbar-right">
                    <div ng-class="loginClass" class="form-group">
                        <input ng-model="user.username" ng-blur="blur()" focus-on="focusLogin" type="text" placeholder="Username" class="form-control">
                    </div>
                    <div class="form-group">
                        <input ng-model="user.password" type="password" placeholder="Password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                </form>
                <!-- Logged In -->
                <ul ng-show="loggedin" class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#/profile">Profile</a></li>
                    <li><a href="" ng-click="logout()">Sign Out</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="active"><a target="_blank" href="https://github.com/BoruiGu/CS5610-music">Git</a></li>
                    <li><a href="#">Documentation</a></li>
                </ul>
            </div>
            <!--/.navbar-collapse -->
        </div>
    </nav>

    <div class="container" ui-view>

    </div>

    <span ng-show="showMylistAddedMsg" class="mylist-added-msg fixed-center">Added to MyList</span>

    <!-- Player -->
    <nav class="navbar navbar-inverse navbar-fixed-bottom navbar-player" ng-controller="PlayerCtrl">
        <div class="row player-row">
            <div class="col-md-2"></div>
            <div class="col-md-8 playerWrap">
                <div class="btn-Prev">
                    <a class="btn-PlayerCtrl" ng-click="prev()"><span class="glyphicon glyphicon-step-backward"></span></a>
                </div>
                <div class="btn-Play">
                    <a class="btn-PlayerCtrlLg" ng-click="startPlaying()" ng-hide="playerStarted"><span class="glyphicon glyphicon-play"></span></a>
                    <a class="btn-PlayerCtrlLg" ng-click="pause()" ng-show="isPlaying"><span class="glyphicon glyphicon-pause"></span></a>
                    <a class="btn-PlayerCtrlLg" ng-click="resume()" ng-show="isPaused"><span class="glyphicon glyphicon-play"></span></a>
                </div>
                <div class="btn-Next">
                    <a class="btn-PlayerCtrl" ng-click="next()"><span class="glyphicon glyphicon-step-forward"></span></a>
                </div>
                <div class="bar-progress">
                    <input type="range" ng-model="progress" ng-change="changeProgress()" min="0" max="{{duration}}" />
                </div>
                <!--orient="vertical" for firefox-->
                <input ng-blur="showVolumeSlider = false" ng-show="showVolumeSlider" focus-on="showVolumeSlider" id="volumeSlider" type="range" orient="vertical" ng-model="volume" ng-change="changeVolume()" min="0" max="100" />
                <div class="btn-volume">
                    <a ng-click="showVolumeSlider = !showVolumeSlider"><span class="glyphicon glyphicon-volume-up"></span></a>
                </div>
                <!-- Playlist dropup -->
                <div class="playlist btn-group dropup">
                    <button type="button" class="btn btn-link dropdown-toggle"
                            data-toggle="dropdown">
                        {{playlist.length}}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li ng-class="(position == $index) ? 'active' : null"
                            ng-mouseenter="showTrash = true"
                            ng-mouseleave="showTrash = false"
                            ng-if=" playlist.length"
                            ng-repeat="playlistItem in playlist track by playlistItem.id">

                            <a ng-click="playlistClicked($index)" href="">
                                {{playlistItem.name}}
                                <span ng-click="playlistRemove($index)" ng-show="showTrash" class="glyphicon glyphicon-trash"></span>
                            </a>

                        </li>
                        <li ng-if="!playlist.length">
                            <a>Playlist is empty</a>
                        </li>
                    </ul>
                </div> <!-- Ends Playlist dropup -->
                <!-- New Item Added Message -->
                <span ng-show="showPlaylistAddedMsg" class="playlist-added-msg">Added to playlist</span>
            </div><!-- Ends PlayerWrap -->
        </div>
    </nav>
</body>
</html>
