<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-layout-fixed">
            <thead>
                <tr>
                    <th class="col-md-6">Song</th>
                    <th class="col-md-3">Artist</th>
                    <th ng-show="tracklist.items[0].album || tracklist.items[1].album" class="col-md-3">Album</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="track in tracklist.items">
                    <td class="col-md-6">
                        <div class="result-overflow-hidden">
                            <a href="#/song/{{track.id}}">{{track.name}}</a>
                        </div>
                    </td>
                    <td class="col-md-3">
                        <a href="#/artist/{{track.artists[0].id}}" class="result-overflow-hidden">
                            {{track.artists | artists}}
                        </a>
                    </td>
                    <td ng-show="track.album" class="col-md-3">
                        <a href="#/album/{{track.album.id}}" class="result-overflow-hidden">
                            {{track.album.name}}
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>